# Custom  - This will be cloned into a container using Apptainer on Sherlock
# We use a white listing appproach, where we explicitly state what should be included 

# ---- Ignore all top level content
/*


# ---- Include essentials
!README.md
!.gitignore

# Config files 
!epconfig/
!msdconfig/
!config/

# Snakemake
!workflow/

# Input data
!inputs/



